body{
    /*background-image: url(../Imagenes/image.webp);*/
    background-color: #3743a1;
    background-size:auto;
    background-repeat:no-repeat;
    background-position:center center;
}
#encabezado{
    /*background-image: url(../Imagenes/backgrounb.jpg);*/
    background-color: #00aaffc5;
    padding:5%;
    color:rgb(248, 248, 248);
    border-radius: 10px;
}
.dentro,a>div{
    text-align:center;
}
img.more{
    width:10%;
}
#rockola{
    width: 100%;
    position: relative; 
    display:grid;
    grid-template:repeat(1,1fr)/repeat(1, 1fr);
    grid-gap: 30px;
    justify-content: center;
}
#Imagen{
    margin-left:auto;
    margin-right:auto;
}
img.ElCS{
    width: 35%;
    border-radius: 10px;
}
#links{
    display:grid;
    grid-template:repeat(3,1fr)/repeat(1, 1fr);
    grid-gap: 10px;
    width:100%;
    border-radius: 10px;
}
#info{
    border-radius: 10px;
    color: aliceblue;
    background-color: #00aaffc5;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align:center;
}
#rockola > div{
    background-color:#00aaffc5;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding: 10%;
}
.box{
    background-color: rgba(0, 50, 96, 0.815);
    border-color: black;
    border-style: solid;
    border-width:1px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}
a>div{
    padding-top: 5px; /*se pone el padding para definir un área sensible del botón*/
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-style:calibri;
    font-weight: bold;
}
a{
    outline: none;
    text-decoration: none; 
}
a:link {
    color: #001eff;
  }
  
  a:visited {
    color: #001eff;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #e49898;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #001eff;
  }
  
  a:active {
    background: #530101;
    color: #001eff;
  }

  #footer {
    padding:1%;
    background-color: #00aaffc5;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

#footer .inner {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    #footer .inner {
        width: 75%;
        }
}

@media screen and (max-width: 480px) {
    #footer .inner {
        width: 90%;
    }
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}
@media screen and (max-width: 736px) {
    #footer {
        padding: 3em 0 1em 0;
    }
}
ul{
    display:grid;
    grid-template:repeat(1,1fr)/repeat(2, 1fr);
}
img.logo{
    width: 100px;
}

